.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: antiquewhite;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.gapping {
  margin: 10px;
  padding: 3px;
}
